section(data-ng-controller='ItemShipmentStatusListController')
  .container.products
    .row
        h3
          span.introcolor Order Shipment Status
        div.row
          div.form-group
            label.control-label.col-sm-2(for='name') Order Date
            div.col-sm-4
              input.form-control(type="text", maxlength = "20", size="35", name="order.customerName", id="shipto.fullname",  required, ng-model="orderDate", autofocus, placeholder="Enter Full name", disabled)
        div.row
          div.form-group
            label.control-label.col-sm-2(for='name') Name
            div.col-sm-4
              input.form-control(type="text",maxlength = "20", size="35", name="order.customerName", id="shipto.fullname",  required, ng-model="order.customerName", autofocus, placeholder="Enter Full name", disabled)
        div.row
          div.form-group
            label.control-label.col-sm-2(for='name') Email
            div.col-sm-4
              input.form-control(type="text",maxlength = "20", size="35", name="order.customerName", id="shipto.fullname",  required, ng-model="order.customerEmail", autofocus, placeholder="Enter Full name", disabled)
        br
        table.table.table-striped.tcartthead
          thead
            tr
              th.align_right #
              th Product Name
              th Generic Name
              th Packaging
              th.align_right Qty ordered
              th.align_right Qty readied
              th.align_right Qty shipped
              th.align_right Qty unshipped
              th Options
          tbody
            tr(ng-repeat='item in order.items | orderBy:columnSort.sortColumn:columnSort.reverse')
              td.align_right {{$index+1}}
              td {{item.manufacturersName}}
              td {{item.genericName}}
              td {{item.packaging}}
              td.align_right {{item.qty          | customCurrency:"":".":",":0}}
              td.align_right {{item.qtyReadied   | customCurrency:"":".":",":0}}
              td.align_right {{item.qtyShipped   | customCurrency:"":".":",":0}}
              td.align_right {{item.qtyRemaining | customCurrency:"":".":",":0}}
              td
                a.href(ng-click="viewReadiedItems(order)", ng-disabled="form.$invalid",)
                  | View Dock
              td
                a.href(ng-click="viewShippedItems(order)", ng-disabled="form.$invalid",)
                  | View Shipments
          tfoot
            tr
              td
              td
              td Subtotal:
              td
              td.align_right {{totQty       | customCurrency:"":".":",":0}}
              td.align_right {{totReadied   | customCurrency:"":".":",":0}}
              td.align_right {{totShipped   | customCurrency:"":".":",":0}}
              td.align_right {{totRemaining | customCurrency:"":".":",":0}}
            tr
        br
        hr
        br
        a.btn.btn-success(href='#!/shipment') Back to Pending Deliveries
        a.btn.btn-warning(ng-click="createShippingRecord(order)") Create shipping Record         
