section(data-ng-controller='OrderController')
  .container.products
    .row
        h3
          span.introcolor Order Details

        .col-sm-6
          .well.well-lg
              h4
                span Sold To:
              div.row
                div.form-group
                  label.control-label.col-sm-2(for='name') Name
                  div.col-sm-10
                    input.form-control(type="text", name="order.customerName", id="shipto.fullname",  required, ng-model="order.customerName", autofocus, placeholder="Enter Full name", disabled)
              div.row
                div.form-group
                  label.control-label.col-sm-2(for='name') Email
                  div.col-sm-10
                    input.form-control(type="text", name="order.customerName", id="shipto.fullname",  required, ng-model="order.customerEmail", autofocus, placeholder="Enter Full name", disabled)


              h4
                span Ship To:

              div.row
                div.form-group
                  label.control-label.col-sm-2(for='name') Name
                  div.col-sm-10
                    input.form-control(type="text", name="order.shipto.fullname", id="shipto.fullname",  required, ng-model="order.shipto.fullname", autofocus, placeholder="Enter Full name", disabled)


              div.row
                div.form-group
                  label.control-label.col-sm-2(for='address1') Address
                  div.col-sm-10
                    input.form-control(type="text", name="address1", id="address1",  required, ng-model="order.shipto.address1", autofocus, placeholder="Enter Address", disabled)
              div.row
                div.form-group
                  label.control-label.col-sm-2(for='address2') Address2
                  div.col-sm-10
                    input.form-control(type="text", name="address2", id="address2",  ng-model="order.shipto.address2", autofocus, placeholder="Enter Address", disabled)

              div.row
                div.form-group
                  label.control-label.col-sm-2(for='address3') Address3
                  div.col-sm-10
                    input.form-control(type="text", name="address3", id="address3",  ng-model="order.shipto.address3", autofocus, placeholder="Enter Address", disabled)

              div.row
                div.form-group
                  label.control-label.col-sm-2(for='city') City
                  div.col-sm-10
                    input.form-control(type="text", name="city", id="city",  ng-model="order.shipto.city", autofocus, required, placeholder="Enter City", disabled)
                    span.help-block(ng-cloak="ng-cloak", ng-show="form.city.$dirty && form.city.$error.required") Please enter your city

              div.row
                div.form-group
                  label.control-label.col-sm-2(for='state') State
                  div.col-sm-10
                    input.form-control(type="text", name="state", id="state",  ng-model="order.shipto.state", autofocus, required, placeholder="Enter State or Province", disabled)
              div.row
                div.form-group
                  label.col-sm-2.control-label(for="country") Country
                  div.col-sm-8
                    input.form-control(type="text", name="country", id="country",  ng-model="order.shipto.country", autofocus, required, placeholder="Enter Country", disabled)
              div.row
                div.form-group
                  label.control-label.col-sm-2(for='zipcode') Zipcode
                  div.col-sm-4
                    input.form-control(type="text", maxlength = '10', name="zipcode", id="zipcode", ng-model="order.shipto.zipcode", only-Digits, autofocus, placeholder="Enter zipcode", disabled)

        .col-sm-6
          .well.well-lg
              div.row
                div.form-group
                  label.control-label.col-sm-4(for='name') Order Date
                  div.col-sm-8
                    input.form-control(type="text", name="order.customerName", id="shipto.fullname",  required, ng-model="orderDate", autofocus, placeholder="Order date", disabled)
              div.row
                div.form-group
                  label.control-label.col-sm-4(for='name') Ship thru
                  div.col-sm-8
                    input.form-control(type="text", name="order.customerName", id="shipto.fullname",  required, ng-model="order.shippingMode", autofocus, placeholder="Ship thru", disabled)

              div.row
                div.form-group
                  label.control-label.col-sm-4(for='name') Payment Mode
                  div.col-sm-8
                    input.form-control(type="text", name="order.customerName", id="shipto.fullname",  required, ng-model="payment", autofocus, placeholder="Payment mode", disabled)


              br

              div(collapse='showWU(order.paymentMode)')
                div.row
                  div.form-group
                    label.control-label.col-sm-4(for='mtcn') MTCN      :
                    div.col-sm-8
                      input.form-control(type="text",maxlength="20", name="mtcn-info", id="mtcn",  required, ng-model="order.paymentRef.info", autofocus,  disabled)
                  div.form-group
                    label.control-label.col-sm-4(for='mtcn') Date Added:
                    div.col-sm-8
                      input.form-control(type="text",maxlength="20", name="mtcn-date", id="mtcn-date",  required, ng-model="paymentDate", autofocus,  disabled)



              div(collapse='showCC(order.paymentMode)')
                div.row
                  label.control-label.col-sm-4(for='cardtype') Card Type
                  div.col-sm-8
                      input.form-control(type="text",maxlength="20", name="cardnum", id="cardnum",  required, ng-model="cardName", autofocus, placeholder="Enter credit/debit card issuer", disabled)
                div.row
                  div.form-group
                    label.control-label.col-sm-4(for='cardnum') Card Number
                    div.col-sm-8
                      input.form-control(type="text",maxlength="20", name="cardnum", id="cardnum",  required,  creditcard-Validate, ng-model="order.ccdetails.cardnum", autofocus, placeholder="Enter credit/debit card number", disabled)
        // ITEMS START HERE
        br
        br
        table.table.table-striped.tcartthead
          thead
            tr
              th #
              th Product Name
              th Generic Name
              th Packaging
              th.align_right Unit Price
              th.align_right Quantity
              th.align_right Amount
              th
          tbody
            tr(ng-repeat='item in order.items | orderBy:columnSort.sortColumn:columnSort.reverse')
              td.align_right {{$index+1}}
              td {{item.manufacturersName}}
              td {{item.genericName}}
              td {{item.packaging}}
              td.align_right {{item.unitPrice | currency}}
              //td.align_right {{thousandsQty(item.qty)}}
              td.align_right {{item.qty | customCurrency:"":".":",":0}}
              //td.align_right {{item.qty * item.unitPrice | currency}}
              td.align_right {{item.subTotal | currency }}
          tfoot
            tr
              td
              td
              td
              td Subtotal:
              td
              //td.align_right {{totalQty()}}
              //td.align_right {{order.itemCount}}
              //td.align_right {{totalQty}}
              //td.align_right {{thousandsQty(order.itemCount)}}
              td.align_right {{order.itemCount | customCurrency:"":".":",":0}}
              td.align_right {{order.totalAmount | currency}}
            tr
              td
              td
              td
              td Shipping:
              td
              td
              td.align_right {{order.shippingCharges | currency}}
            tr
              td
              td
              td
              td Total:
              td
              td
              td.align_right {{order.grandTotal | currency}}
        br
        h4
         span.introcolor Log
        table.table.table-striped.tcartthead
          thead
            tr
              th #
              th Date
              th Posted by
              th Comment
          tbody
            tr(ng-repeat='post in order.log | orderBy:columnSort.sortColumn:columnSort.reverse')
              td.align_right {{$index+1}}
              td {{post.date | date:'MMM-dd-yyyy'}}
              td {{post.email}}
              td {{post.comment}}
        br
        hr
        br
        a.btn.btn-warning(href='#!/shipment')  Back to Pending Shipment 
