script(type='text/javascript', src='/lib/jquery/jquery.js')
script(type='text/javascript', src='/lib/jquery-ui/ui/jquery-ui.js')
//Bootstrap
script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.js')

//AngularJS
script(type='text/javascript', src='/lib/select2/select2.js')

script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
script(type='text/javascript', src='/lib/angular-route/angular-route.js')
script(type='text/javascript', src='/lib/angular-file-upload/angular-file-upload.js')

script(type='text/javascript', src='/lib/angular-ui-select2/src/select2.js')
script(type='text/javascript', src='/lib/angular-ui-date/src/date.js')

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route/route.js')
script(type='text/javascript', src='/lib/angular-ui-router/release/angular-ui-router.js')

//Application Init

script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/config.js')

script(type='text/javascript', src='/js/directives/directives.js')

script(type='text/javascript', src='/js/filters/filters.js')

//Application Services
script(type='text/javascript', src='/js/services/services.js')
//script(type='text/javascript', src='/js/services/global.js')
//script(type='text/javascript', src='/js/services/countries.js')
//script(type='text/javascript', src='/js/services/roles.js')

script(type='text/javascript', src='/js/services/variousModals.js')
script(type='text/javascript', src='/js/services/passParametersBetControllers.js')
script(type='text/javascript', src='/js/services/wuTransactions.js')

//script(type='text/javascript', src='/js/services/modal.js')
//script(type='text/javascript', src='/js/services/variousModal.js')
// merged in savedObjects
//script(type='text/javascript', src='/js/services/orderService.js')

// merged into KartModal.js
//script(type='text/javascript', src='/js/services/mtcnModal.js')
//script(type='text/javascript', src='/js/services/verifyMtcnModal.js')
//script(type='text/javascript', src='/js/services/disapproveMtcnModal.js')

// Application Controllers
// /public/js

script(type='text/javascript', src='/js/init.js')

// /app/view controllers
script(type='text/javascript', src='/js/controllers/app/views/users/forgotPasswordFormController.js')
script(type='text/javascript', src='/js/controllers/app/views/contact/contactFormController.js')

// /public/view/profile
script(type='text/javascript', src='/js/controllers/profile/resetPasswordFormController.js')
script(type='text/javascript', src='/js/controllers/profile/profileFormController.js')

// /public/view
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/controllers/welcomeController.js')

see /public/view/products
script(type='text/javascript', src='/js/controllers/products/productController.js')

// see /public/view/roles
script(type='text/javascript', src='/js/controllers/roles/userRoleController.js')

// see /public/view/shop
script(type='text/javascript', src='/js/controllers/shop/shopController.js')
script(type='text/javascript', src='/js/controllers/shop/viewCartController.js')
script(type='text/javascript', src='/js/controllers/shop/productDetailController.js')

// see /public/view/checkout
script(type='text/javascript', src='/js/controllers/checkout/transactionController.js')
script(type='text/javascript', src='/js/controllers/checkout/shipToController.js')
script(type='text/javascript', src='/js/controllers/checkout/billingController.js')
script(type='text/javascript', src='/js/controllers/checkout/reviewController.js')

// see /public/view/wu
script(type='text/javascript', src='/js/controllers/wu/wuController.js')
script(type='text/javascript', src='/js/controllers/wu/orderController.js')
script(type='text/javascript', src='/js/controllers/wu/mtcnController.js')
script(type='text/javascript', src='/js/controllers/wu/verifyWuController.js')
script(type='text/javascript', src='/js/controllers/wu/verifyMtcnController.js')
script(type='text/javascript', src='/js/controllers/wu/disapproveMtcnController.js')

// see /public/view/shipment
script(type='text/javascript', src='/js/controllers/shipment/orderShipmentListController.js')

//Application libraries. no longer used
//script(type='text/javascript', src='/lib/zxcvbn/zxcvbn/zxcvbn.js')
