
section()
  div.col-sm-12.special
    div.container

        h2 Terms of Sale
        p TROPICALMEDS ATTEMPTS TO BE FAIR TO BOTH THE CUSTOMER AND THE PHARMACIES WE CONTRACT TO FULFILL YOUR ORDER.
          br
          span.boldred IF YOU ORDER FROM THIS SITE, YOU MUST AGREE TO THE FOLLOWING CONDITIONS.

        p.conditions
          | 1. Unless otherwise noted, our affiliate pharmacies ship orders via Regular Air Mail. Delivery time is 2 - 4 weeks and no signature will be required upon receipt.
        p.conditions
          | 2. If you do not receive your medication within 4 weeks of being notified of it’s dispatch, please contact Customer Service. We will be happy to follow up with our affiliate pharmacy to find out the cause of the delay. If it is determined that the order has been lost in transit or interdicted by Customs, a replacement will be shipped via Regular Air Mail again. Customers who would prefer a refund will receive 50% the cost of product exclusive of shipping and handling.
        p.conditions
          | 3. All in-bound mail to any country is subject to inspection by customs at the port of entry and items restricted from import will be seized. This is an inherent risk associated with ordering medications abroad. Should this happen, please retain any correspondence received from customs and contact Customer Service to <b> arrange a re-ship* </b>. The replacement will be sent via Regular Air Mail. Customers who would prefer a refund will receive 50% the cost of product exclusive of shipping and handling.
        p.conditions
          | 4. If you are dissatisfied with the product you received, please contact Customer Service to arrange a return and re-shipment or
          <b>  partial refund**</b>
        p.conditions
          | 5. Our pharmacies endeavor to fill your orders as quickly as possible.  Should you wish to cancel your order, please Contact Service immediately.  We will try our best to cancel your order but can not guarantee it.
        p.conditions
          | 6. Refunds can sometimes take up to 30 day to complete and be reflected on your credit card statement.
        p.conditions
          | 7. If you are not comfortable with any of the stipulations herein, we urge you not to place an order from this site.
        p.conditions.smallbold
          | * We reserve the right to decline any request for re-shipment at our discretion.
          br
          | ** All returns are subject to a 30% re-stocking fee and are exclusive of shipping and handling.
