section()
  .container
      div(classs='row')
          .col-md-6
            .rblock
              .rbox
                .rboxborder
                  h3
                    span.introcolor Register
                  p
                    | Register with TropicalMeds.com and enjoy amazing savings on your orders. Register your account
                    | and start saving
                  p  
                  strong Please Note:
                  p
                    | Lorem ipsum
                    b check your email for confirmation
                    | duo ad. Sed ex nemore epicuri constituto. Dicam epicuri menandri ne qui, tale putant regione mei ex. Illum officiis
                    b spam folder
                    | , eam et prima saepe verear, vidit omnium albucius eam et
                  p  
                  p
                    .form-group
                      .col-lg-offset-2.col-lg-10
                        a.btn.btn-tropical(href='/signup', button='button', type='submit') Register
                  p  
                  p
          .col-md-6
            .rblock
              .rbox
                .rboxborder
                  h3
                    span.introcolor Login
                   form.form-horizon(name="form", method="post", action="/users/session", novalidate)
                    input(type='hidden', name = '_csrf', value = token) 

                    .form-group
                      label.col-lg-2.control-label(for='inputEmail1') Email
                      .col-lg-10
                        input.form-control(type="email", ng-model="email", name="email", id="email", required, ng-model="email", placeholder="Enter email")
                        span.help-block(ng-cloak="ng-cloak", ng-show="form.email.$dirty && form.email.$error.email") Email is invalid 
                        span.help-block(ng-cloak="ng-cloak", ng-show="form.email.$dirty && form.email.$error.required") Please enter email
                    p
                    .form-group
                      label.col-lg-2.control-label(for='inputPassword1') Password
                      .col-lg-10
                        input.form-control(type="password", name="password", id="password", ng-model="password", required, placeholder="Enter password")
                        span.help-block(ng-cloak="ng-cloak",ng-show="form.email.$dirty && form.email.$error.password") Email is invalid
                        span.help-block(ng-cloak="ng-cloak",ng-show="form.email.$dirty && form.email.$error.required") Please enter password
                    .form-group
                      .col-lg-offset-2.col-lg-10
                        .checkbox
                          label
                            input(type='checkbox')
                            | Remember me
                    .form-group
                      .col-lg-offset-2.col-lg-10
                        button.btn.btn-tropical(type='submit',  ng-disabled="form.$invalid") Sign in
                        a.btn.btn-default(href='/forgot', button='button', type = 'submit') Forgot my Password
                  p  
                  p  
                  p  
                  p  
                  p   
                  p 
                  p
                  p
          p  
          p  
          p  
          p  
          p  
         
          
          
                   
        
                 
