Hi <%= name %>,
Thank you for signing up with TropicalMeds with the username : <%= username %>.

You must follow this link below to activate your account.

<a href="<%= verifyURL %>"><%= verifyURL %></a>

Thank you,

The TropicalMeds Team
<a href="http://localhost:3000">http://tropicalmeds.com</a> 
