// Modal Add New Product
#viewCart.modal
  //.modal-dialog
  .modal-content
    .modal-header
      button.close(type='button', ng-click='close()', aria-hidden='true') ×
      h4.modal-title Verify Western Union MTCN
    .modal-body
      .row
        .col-md-12
          form.form-horizontal(name="form", method="post",  novalidate)
            input(type='hidden', name = '_csrf', value = token)
            .form-group
              label.col-sm-2.control-label(for='inputName') Amount Rcvd
              div.col-sm-2
                input#inputName.form-control(type='text', maxlength= '10',  name = 'amount', ng-model="mtcn.amount", placeholder='Enter MTCN Amount', only-Numbers, required)
                span.help-block(ng-cloak="ng-cloak", ng-show="form.mtcn.amount.$dirty && form.mtcn.$error.required") Please enter the MTCN Amount
                span.help-block(ng-cloak="ng-cloak", ng-show="form.mtcn.amount.$dirty && form.mtcn.$error.invalidChars") Amount should be numbers or , or .
            .form-group
              label.col-sm-2.control-label(for='inputName') Comments
              div.col-sm-4
                input#inputName.form-control(type='text',  name = 'comments', ng-model="mtcn.info", placeholder='Comments')

    .modal-footer
      a.btn.btn-warning(ng-click='saveChanges()', ng-disabled="form.$invalid") Accept MTCN
      a.btn.btn-primary(ng-click='close()') Cancel           
