section(data-ng-controller='BillingController')
  .container.products
    .row
      .col-sm-12
        ul#myTab.nav.nav-tabs
          li
            a( ng-click="toTransaction()") 1. Your Transaction
          li
            a( ng-click="toShipTo()") 2. Shipping Info
          li.active
            a( ) 3. Billing Information
          li
            a() 4. Review & Complete Purchase

        h3
          span.introcolor Billing Information
          p  
        #shipping
          form.form-horizontal(name="form", method="post",  novalidate)
            input(type='hidden', name = '_csrf', value = token)
            div.row
              h4
                span Total Amount: {{totalAmount | currency}}
            div.row
              .form-group
                label.col-sm-4(for='expiry-month') Payment Type
                .radio
                  .col-xs-4
                    input(type='radio', name='paymentMode', value='WU', ng-model='proforma.paymentMode')
                    | Western Union
                    //| {{whatLabel(0)}}
                  .col-xs-4
                    input(type='radio', name='paymentMode', value='CC', ng-model='proforma.paymentMode')
                    | Credit/Debit Card
                    //| {{whatLabel(1)}}


            div.row
              div(collapse='showWU(proforma.paymentMode)')
                .well.well-lg Please update tropicalmeds.com with the MTCN so your order could be processed.
                  p
                  div.row
                    .row(align='center')
                      a.btn.btn-primary(  ng-click="saveWesternUnionInfo()") Continue with checkout

            div.row
              div(collapse='showCC(proforma.paymentMode)')
                .well.well-lg
                  div.row
                    div.form-group
                      label.control-label.col-sm-2(for='cardtype') Card Type
                      div.col-sm-5
                        select( style="width:100%;",name="pay.cardtype", id="pay.cardtype", ui-select2='ui-select2', ng-model="ccdetails.cardtype", data-placeholder="Enter card type")
                         option
                            option(ng-repeat="card in cardData", value="{{card.code}}") {{card.name}}
                  div.row
                    div.form-group
                      label.control-label.col-sm-2(for='name') Name on Card
                      div.col-sm-10
                        input.form-control(type="text", name="fullname", id="fullname",  required, ng-model="ccowner.fullname", autofocus, placeholder="Enter card holder's name")
                        span.help-block(ng-cloak="ng-cloak", ng-show="form.fullname.$dirty && form.fullname.$error.required") Please enter card holder's name
                        span.help-block(ng-cloak="ng-cloak", ng-show="form.fullname.$dirty && form.fullname.$error.invalidChars") User name may not contain any non-url-safe

                  // only-Digit
                  // should also check if cc number is actually a visa/master
                  div.row
                    div.form-group
                      label.control-label.col-sm-2(for='cardnum') Card Number
                      div.col-sm-5
                        input.form-control(type="text",maxlength="20", name="cardnum", id="cardnum",  required,  creditcard-Validate, ng-model="ccdetails.cardnum", autofocus, placeholder="Enter credit/debit card number")
                        span.help-block(ng-cloak="ng-cloak", ng-show="form.cardnum.$dirty && form.cardnum.$error.required") Please enter the credit/debit card number
                        span.help-block(ng-cloak="ng-cloak", ng-show="form.cardnum.$dirty && form.cardnum.$error.invalidcc") Credit card number is invalid.
                  // only-Digit


                  div.row
                    div.form-group
                      label.control-label.col-sm-2(for='expirationdate') Expiration Date
                      div.col-sm-3
                        select( style="width:100%;",name="pay.expirymonth", id="pay.expirymonth", ui-select2='ui-select2', ng-model="ccdetails.expirymonth",  required, data-placeholder="Expiry Month")
                         option
                            option(ng-repeat="month in monthData", value="{{month.code}}") {{month.name}}

                      div.col-sm-3
                        select( style="width:100%;",name="pay.expiryyear", id="pay.expiryyear", ui-select2='ui-select2', ng-model="ccdetails.expiryyear", required,  data-placeholder="Expiry Year")
                         option
                            option(ng-repeat="year in yearData", value="{{year.code}}") {{year.name}}


                  div.row
                    div.form-group
                      label.control-label.col-sm-2(for='cardcvv') Card CVV
                      div.col-sm-2
                        input.form-control(type="text", maxlength = '4',  name="cardcvv", id="cardcvv", only-Digits, required, ng-model="ccdetails.cardcvv", autofocus, placeholder="Enter Card CVV")
                        span.help-block(ng-cloak="ng-cloak", ng-show="form.cardcvv.$dirty && form.cardcvv.$error.required") Please enter Card CVV
                        span.help-block(ng-cloak="ng-cloak", ng-show="form.cardcvv.$dirty && form.cardnum.$error.invalidChars") Credit card number may not contain any non-url-safe
                  div.row
                    div.form-group
                      label.control-label.col-sm-2(for='address1') Address
                      div.col-sm-10
                        input.form-control(type="text", name="address1", id="address1",  required, ng-model="ccowner.address1", autofocus, placeholder="Enter Address")
                        span.help-block(ng-cloak="ng-cloak", ng-show="form.address1.$dirty && form.address1.$error.required") Please enter your first line of address

                  div.row
                    div.form-group
                      label.control-label.col-sm-2(for='address2') Address2
                      div.col-sm-10
                        input.form-control(type="text", name="address2", id="address2",  ng-model="ccowner.address2", autofocus, placeholder="Enter Address")
                        span.help-block(ng-cloak="ng-cloak", ng-show="form.address2.$dirty && form.address2.$error.required") Please enter your second line of address

                  div.row
                    div.form-group
                      label.control-label.col-sm-2(for='address3') Address3
                      div.col-sm-10
                        input.form-control(type="text", name="address3", id="address3",  ng-model="ccowner.address3", autofocus, placeholder="Enter Address")
                        span.help-block(ng-cloak="ng-cloak", ng-show="form.address3.$dirty && form.address3.$error.required") Please enter your third line of address

                  div.row
                    div.form-group
                      label.control-label.col-sm-2(for='city') City
                      div.col-sm-10
                        input.form-control(type="text", name="city", id="city",  ng-model="ccowner.city", autofocus, required, placeholder="Enter City")
                        span.help-block(ng-cloak="ng-cloak", ng-show="form.city.$dirty && form.city.$error.required") Please enter your city

                  div.row
                    div.form-group
                      label.control-label.col-sm-2(for='state') State
                      div.col-sm-10
                        input.form-control(type="text", name="state", id="state",  ng-model="ccowner.state", autofocus, required, placeholder="Enter State or Province")
                        span.help-block(ng-cloak="ng-cloak", ng-show="form.state.$dirty && form.state.$error.required") Please enter your state or province

                  div.row
                    div.form-group
                      label.col-sm-2.control-label(for="country") Country
                      div.col-sm-8
                        select(style="width:100%;", name="country", id="country", ui-select2='ui-select2', ng-model="ccowner.country", data-placeholder="Choose country")
                          option
                            option(ng-repeat="country in countryData", value="{{country.code}}") {{country.name}}

                  div.row
                    div.form-group
                      label.control-label.col-sm-2(for='zipcode') Zipcode
                      div.col-sm-3
                        input.form-control(type="text", maxlength = '10', name="zipcode", id="zipcode",only-Digits, ng-model="ccowner.zipcode", autofocus, placeholder="Enter zipcode")
                        span.help-block(ng-cloak="ng-cloak", ng-show="form.zipcode.$dirty && form.zipcode.$error.required") Please enter you zipcode
                        span.help-block(ng-cloak="ng-cloak", ng-show="form.zipcode.$dirty && form.zipcode.$error.invalidChars") Zipcode may not contain any non-url-safe

                  // end of form-group
                  div.row
                    .row(align='center')
                      a.btn.btn-primary(ng-disabled="form.$invalid", ng-click="saveBillingInfo()") Continue with checkout


        hr
        br
        a.btn.btn-warning(href='#!/shop') Back to shopping         
