section(data-ng-controller='UserRoleController')
  .container
    div.row
      div.col-sm-12
        .register
          h3
            span.introcolor User Manager

          hr

          ul.list-inline
            li(ng-if='users.length == 0') You have no users.
            li(ng-if='users.length == 1') You have {{ users.length }} user.
            li(ng-if='users.length > 1') You have {{ users.length }} users.
            li
              .input-prepend
                span.add-on
                  i.glyphicon.glyphicon-search
                input#inputIcon.span2(type='text', placeholder='Search...', ng-model='query')


          table.table.table-striped.tcart
            thead
              tr
                th(ng-repeat='header in headers')
                  a(href='#', ng-click='columnSort.sortColumn=headers[$index];columnSort.reverse=!columnSort.reverse') {{ headers[$index] | capitalise }}

            tbody
              tr(ng-repeat='user in users | orderBy:columnSort.sortColumn:columnSort.reverse | filter: query')
                td {{ user.name}}
                td {{ user.email }}
                //td {{ user.role }}
                td
                  //<pre>Selected: {{user|json}}</pre>
                  //select(style="width:100%;", name="role", id="role", ui-select2='ui-select2', ng-model="user.role", disabled)
                  select(style="width:100%;", name="role", id="role", ui-select2='ui-select2', ng-model="user.role")
                    option
                      option(ng-repeat="position in positionData", value="{{position.role}}") {{position.name}}


                //td {{ user.deactivated }}

                //td
                //  label Deactivated:
                //    input(ng-model='user.deactivated', type='checkbox', ng-checked = '{{user.deactivated}}', disabled)


                td
                  span.button-checkbox
                  button.btn.btn-sm(type='button', data-color='disabled') Disabled
                    //input(type='checkbox', ng-model='user.deactivated', ng-checked= '{{user.deactivated}}', disabled)
                    input(type='checkbox', ng-model='user.deactivated', ng-checked= '{{user.deactivated}}')


                td
                  a.href(ng-click="updateRole(user._id, user.name, user.role, user.deactivated)", ng-disabled="form.$invalid",)
                    | Save Changes

  script(type='text/javascript', src='/js/scripts/button-checkbox.js')
