section(data-ng-controller='ShipmentListController')
  .container.products
    .row
        h3
          span.introcolor Customer Order Shipment List
        .col-sm-6
          .well.well-lg
              h4
                span Sold To:
              div.row
                div.form-group
                  label.control-label.col-sm-2(for='name') Name
                  div.col-sm-10
                    input.form-control(type="text", name="order.customerName", id="shipto.fullname",  required, ng-model="order.customerName", autofocus, placeholder="Enter Full name", disabled)
              div.row
                div.form-group
                  label.control-label.col-sm-2(for='name') Email
                  div.col-sm-10
                    input.form-control(type="text", name="order.customerName", id="shipto.fullname",  required, ng-model="order.customerEmail", autofocus, placeholder="Enter Full name", disabled)


              h4
                span Ship To:

              div.row
                div.form-group
                  label.control-label.col-sm-2(for='name') Name
                  div.col-sm-10
                    input.form-control(type="text", name="order.shipto.fullname", id="shipto.fullname",  required, ng-model="order.shipto.fullname", autofocus, placeholder="Enter Full name", disabled)


              div.row
                div.form-group
                  label.control-label.col-sm-2(for='address1') Address
                  div.col-sm-10
                    input.form-control(type="text", name="address1", id="address1",  required, ng-model="order.shipto.address1", autofocus, placeholder="Enter Address", disabled)
              div.row
                div.form-group
                  label.control-label.col-sm-2(for='address2') Address2
                  div.col-sm-10
                    input.form-control(type="text", name="address2", id="address2",  ng-model="order.shipto.address2", autofocus, placeholder="Enter Address", disabled)

              div.row
                div.form-group
                  label.control-label.col-sm-2(for='address3') Address3
                  div.col-sm-10
                    input.form-control(type="text", name="address3", id="address3",  ng-model="order.shipto.address3", autofocus, placeholder="Enter Address", disabled)

              div.row
                div.form-group
                  label.control-label.col-sm-2(for='city') City
                  div.col-sm-10
                    input.form-control(type="text", name="city", id="city",  ng-model="order.shipto.city", autofocus, required, placeholder="Enter City", disabled)
                    span.help-block(ng-cloak="ng-cloak", ng-show="form.city.$dirty && form.city.$error.required") Please enter your city

              div.row
                div.form-group
                  label.control-label.col-sm-2(for='state') State
                  div.col-sm-10
                    input.form-control(type="text", name="state", id="state",  ng-model="order.shipto.state", autofocus, required, placeholder="Enter State or Province", disabled)
              div.row
                div.form-group
                  label.col-sm-2.control-label(for="country") Country
                  div.col-sm-8
                    input.form-control(type="text", name="country", id="country",  ng-model="order.shipto.country", autofocus, required, placeholder="Enter Country", disabled)
              div.row
                div.form-group
                  label.control-label.col-sm-2(for='zipcode') Zipcode
                  div.col-sm-4
                    input.form-control(type="text", maxlength = '10', name="zipcode", id="zipcode", ng-model="order.shipto.zipcode", only-Digits, autofocus, placeholder="Enter zipcode", disabled)

        .col-sm-6
          .well.well-lg
              div.row
                div.form-group
                  label.control-label.col-sm-4(for='name') Order Date
                  div.col-sm-8
                    input.form-control(type="text", name="order.customerName", id="shipto.fullname",  required, ng-model="orderDate", autofocus, placeholder="Order date", disabled)
              div.row
                div.form-group
                  label.control-label.col-sm-4(for='name') Ship thru
                  div.col-sm-8
                    input.form-control(type="text", name="order.customerName", id="shipto.fullname",  required, ng-model="order.shippingMode", autofocus, placeholder="Ship thru", disabled)

              div.row
                div.form-group
                  label.control-label.col-sm-4(for='name') Payment Mode
                  div.col-sm-8
                    input.form-control(type="text", name="order.customerName", id="shipto.fullname",  required, ng-model="payment", autofocus, placeholder="Payment mode", disabled)


        br
        table.table.table-striped.tcartthead
          thead
            tr
              th.align_right #
              th Shipment Date
              th Shipping Clerk
              th.align_right Qty shipped
              th Option
          tbody
            tr(ng-repeat='shipment in shipmentList | orderBy:columnSort.sortColumn:columnSort.reverse')
              td.align_right {{$index+1}}
              td {{shipment.shipmentDate | date:'MMM-dd-yyyy'}}
              td {{shipment.shipmentRef.email}}
              td.align_right {{shipment.qtyShipped   | customCurrency:"":".":",":0}}
              td
                a.href(ng-click="queryCustomerShipmentRecord(shipment)", ng-disabled="form.$invalid",)
                  | View details
          tfoot
            tr
              td
              td
              td Subtotal:
              td.align_right {{totQtyShipped()   | customCurrency:"":".":",":0}}
              td
            tr
        br
        hr
        br
        a.btn.btn-success(ng-click="queryCustomerShipmentList(order)") Back to Customer Order Shipment Summary             
