extends ../layouts/default

block head
  title Login
block neck 


block content
  div.row 

    div.col-sm-12
      div.messages
        .alert.alert-warning
          strong #{message}
      div.account-content
        div.container
          div.row
            div.col-sm-12
              .register     
                .cool-block.cool-block-bor
                  h3
                   span.glyphicon.glyphicon-user.color
                    | Not my Account Support Page
                   br
