
section(ng-controller="ResetPasswordFormController", ng-init="getDefault()") 
  div.col-sm-12
    div.container
      div.row 
        div.messages 
          .alert.alert-blank
            strong= message 
      div.account-content
        div.container
          div.row
            div.col-sm-6
            .rblock
              .rbox
                .rboxborder
                  h3
                    span.introcolor Change Password
 
                 
                  form.form-horizontal(name="form", method="post",  novalidate)  
                    input(type='hidden', name = '_csrf', value = token)

                    div.row
                      div.form-group
                        label.control-label.col-sm-2(for="currentpassword") Current password:
                        div.col-sm-10
                          input.form-control(type="password", class="currentpass1", name="currentpassword", id="currentpassword", ng-model="reset.currentpassword", required, placeholder="Enter curent password")

                          span.help-block(ng-cloak="ng-cloak", ng-show="form.currentpassword.$dirty && form.currentpassword.$error.required") Please enter your current password
                          //span.help-block(ng-show="form.currentpassword.$dirty && form.currentpassword.$error.isTaken") Wrong password
                          span.help-block(ng-cloak="ng-cloak", ng-show="form.currentpassword.$dirty && form.currentpassword.$error.serverMessage") {{form.currentpassword.$error.serverMessage}} 

                    div.row
                      div.form-group
                          label.control-label.col-sm-2(for="password") New password:
                          div.col-sm-10
                            input.form-control(type="password", class="pass1", name="password", id="password", ng-model="reset.newpassword", password-validate, required, match="reset.verification", placeholder="Enter password")
                            span.help-block(ng-cloak="ng-cloak", ng-show="form.password.$dirty && form.password.$error.required") Please enter a password
                            //span.help-block(ng-cloak="ng-cloak", ng-show="form.password.$dirty && form.password.$error.pwd") Invalid Password. Length must be > 8 characters and have a letter and number
                            // input.form-control(type="text",  name="strength", id="strength", value="weak", disabled, style="width: 25%;")

                    div.row
                      div.form-group
                        label.control-label.col-sm-2(for="verify", class="verify") Verify Password:
                        div.col-sm-10
                          input.form-control(type="password", class="verification", name="verification", id="verification", ng-model="reset.verification", required, match="reset.newpassword", placeholder="Verify password")
                          span.help-block(ng-cloak="ng-cloak", ng-show="form.verification.$dirty && form.verification.$error.required") Please repeat your password
                          span.help-block(ng-cloak="ng-cloak", ng-show="form.verification.$dirty && form.verification.$error.match && !form.verification.$error.required") Passwords don't match
                    p
                    div.row
                      div.form-group
                        .col-md-offset-2.col-md-10
                          if error
                            div.alert #{error}
                          input.btn.btn-tropical(type = 'submit', value="Change Password", ng-click="changePassword()")
                          input.btn.btn-default(type = 'submit', value="Cancel", ng-click="cancelPassword()") 

                     
          
        script(type='text/javascript', src='/js/scripts/check-password.js')

                 

